:root {
  --text-color: #000000;
  --background-color: #ffffff;
  --background-main-color: #FFF8F3;
  --accent-color: #7B6152;
  --button-main-color: #FFBD59;
  --button-text-color-black: #272727;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: -0.32px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
main {
  background-color: var(--background-main-color) ;
  overflow-x: clip;
}

.btn {
background-color: var(--button-main-color);
color: var(--button-text-color-black);
font-weight: 600;
}
/* Mobile devices */
.container {
   margin: 0 auto;
  padding: 0 10px;
  outline: 1px solid red;
}
@media screen and (max-width: 479px) {
  .container {
    max-width: 360px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

/* Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 64px;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    width: 1000px;
    padding: 0 20px;
  }
}


/* Desktop devices */
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 140px;
  }
}
