:root {
  --text-color: #000000;
  --white-text-color: #fafafa;
  --background-color: #ffffff;
  --background-main-color: #fff8f3;
  --background-accent-color: #a5978e;
  --accent-color: #7b6152;
  --button-main-color: #ffbd59;
  --button-text-color-black: #272727;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  /* letter-spacing: -0.32px; */
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
}
h1,
h2 {
  font-weight: 400;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
main {
  background-color: var(--background-main-color);
  overflow-x: clip;
}

.btn {
  background-color: var(--button-main-color);
  color: var(--button-text-color-black);
  font-weight: 600;
}
.section__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.section__desc {
  width: 235px;
  text-align: center;
  margin: auto;
}
.section__content {
  position: relative;
}
.mask-container {
  position: absolute;
}
.mask-container > img {
  width: auto;
}
.mask-container-line::after {
  content: "";
  position: absolute;
  left: 23px;
  bottom: 12px;
  background-color: var(--accent-color);
  width: 7000%;
  height: 1px;
}
.title {
  font-family: "Yeseva One";
  font-size: 15px;
  margin-bottom: 10px;
  padding-top: 50px;
}
.text-white {
  background-color: var(--background-accent-color);
  color: var(--white-text-color);
}
.text-description {
  font-size: 8px;
}


/* Mobile devices */
.container {
  margin: 0 auto;
  padding: 0 10px;
  outline: 1px solid red;
}
@media screen and (max-width: 479px) {
  .container {
    max-width: 360px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
  .title {
    margin-bottom: 20px;
  }
  .text-description {
    font-size: 10px;
  }
  
  .section__desc {
    width: 300px;
  }
  
}

/* Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 64px;
  }
  .title {
    font-size: 40px;
  }
  .section__inner {
    flex-direction: row;
   align-items: normal;
   padding-top: 150px;
   justify-content: space-between;
  }
  .section__desc {
    width: 200px;
    text-align: left;
  }
  .section__content {
    width: 416px;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    width: 1000px;
    padding: 0 20px;
  }
  .section__inner {
     padding-top: 150px;
  }
  .section__desc {
    width: 300px;
    
  }
  .section__content {
    width: 647px;
  }
  .title {
    margin-bottom: 15px;
  }
  .section__desc {
    width: 300px;
  }
}

/* Desktop devices */
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 140px;
  }
  .section__inner {
    padding-top: 150px;
 }
  .text-description {
    font-size: 14px;
  }
  .section__desc {
    width: 370px;
  }
  
  .section__content {
    width: 673px;
  }
}
