.actions__section {
  background-color: var(--accent-color);
  background-image: url("../../images/actions/actions-desc-bg.webp");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
}

.actions__inner {
  padding-top: 42px;
  padding-bottom: 20px;
  align-items: flex-start;
}
.actions__title {
  width: 210px;
  color: var(--background-color);
  font-family: "Yeseva One";
  font-size: 15px;
  font-weight: 400;
}
.btn-actions {
  width: 78px;
  height: 32px;
  font-size: 8px;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .actions__inner {
    padding-bottom: 42px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .btn-actions {
    margin: 0;
  }
}
@media screen and (min-width: 575px) {
  .actions__section {
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
    .actions__inner {
        padding-top: 70px;
        padding-bottom: 30px;
        flex-direction: column;
        align-items: baseline;
      }
      .actions__title {
        width: 270px;
        
      }
      .btn-actions {
        margin-left: auto;
        width: 125px;
        height: 40px;
        font-size: 12px;
      }
}

@media screen and (min-width: 1000px) {
    .actions__section {
        background-size: auto 100% ;
      }
    .actions__inner {
        padding-top: 120px;
        padding-bottom: 120px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      }
    .actions__title {
        width: 555px;
        font-size: 40px;
        
      }
      .btn-actions {
        margin-left: 0;
        width: 170px;
        height: 50px;
        font-size: 14px;
      }
}

@media screen and (min-width: 1440px) {
    .actions__title {
        width: 710px;
        font-size: 40px;
        
      }
}