
.sertificates-section{
    position: relative;
}
.sertificates-section__inner{
    padding-right: 0;
    justify-content:flex-start;
    gap: 30px;
}
.sertificates-section .section__desc{
    margin: 0;
}

.sertificates__desc{
    min-width: 370px;
}
.sertificates-section
.mask-container{
bottom: -45px;
}
.swiper-sertificates{
    width: 1200px;
    padding-bottom: 60px;
    position: relative;
    overflow: visible; 
    clip-path: inset(0 0 0 0); 
}

.swiper-img{
    width: 375px;
    object-fit: cover;
}


.sertificates-section .swiper-slide{
    flex-shrink: 1;
}
.swiper-sertificates>.swiper-wrapper{
    /* transition-duration: 0ms;
    transition-delay: 0ms;
    transform: translate3d(-0.5px, 0px, 0px); */
}
.sertificates-section .swiper-pagination{
    text-align: left;
}
